In [4]:
import pandas as pd
import numpy as np
import csv
from sklearn.model_selection import train_test_split
from collections import defaultdict
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn.preprocessing import StandardScaler


import os
for dirname, _, filenames in os.walk('H:\Dyt-desktop.csv'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [5]:
desktopData= pd.read_csv("H:\Dyt-desktop.csv", index_col=0, na_values=['(NA)'])

In [6]:
for dirname, _, filenames in os.walk('H:\Dyt-tablet.csv'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [8]:
tabletData = pd.read_csv("H:\Dyt-tablet.csv", index_col=0, na_values=['(NA)'])

In [9]:
def SeparateColumns(dataSetName):
    columns = defaultdict(list)
    with open(dataSetName, 'r') as f:
        reader = csv.reader(f, delimiter=';')
        headers = next(reader)
        column_nums = range(len(headers)) # Do NOT change to xrange
        for row in reader:
            for i in column_nums:
            
                columns[headers[i]].append(row[i])
    # Following line is only necessary if you want a key error for invalid column names
    return dict(columns)

In [10]:
def cleanData(data) :
    for col in data.columns.values:
        data[col] = data[col].astype('string')
    #----------
    for col in data.columns.values:
        data[col] = data[col].astype('float',errors = 'ignore')
    #-----------
    data['Gender']=data.Gender.map({'Male': 1, 'Female': 2})
    data['Dyslexia']=data.Dyslexia.map({'No': 0, 'Yes': 1})
    data['Nativelang']=data.Nativelang.map({'No': 0, 'Yes': 1})
    data['Otherlang']=data.Otherlang.map({'No': 0, 'Yes': 1})

In [11]:
columns = SeparateColumns('H:\Dyt-desktop.csv')
desktopData=pd.DataFrame.from_dict(columns)

desktopData

,Gender,Nativelang,Otherlang,Age,Clicks1,Hits1,Misses1,Score1,Accuracy1,Missrate1,...,Score31,Accuracy31,Missrate31,Clicks32,Hits32,Misses32,Score32,Accuracy32,Missrate32,Dyslexia
0,Male,No,Yes,7,10,10,0,10,1,0,...,0,0,0,17,2,0,2,0.117647,0,No
1,Female,Yes,Yes,13,12,12,0,12,1,0,...,4,0.114286,0,26,2,2,2,0.0769231,0.0769231,Yes
2,Female,No,Yes,7,6,6,0,6,1,0,...,4,0.114286,0,26,1,3,1,0.0384615,0.115385,No
3,Female,No,Yes,7,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,No
4,Female,No,Yes,8,4,4,0,4,1,0,...,1,25,0.05,26,2,2,2,0.0769231,0.0769231,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3639,Male,No,No,10,7,7,0,7,1,0,...,2,0.67,0.33,4,1,3,1,0.25,0.75,Yes
3640,Female,No,Yes,15,9,9,0,9,1,0,...,3,0.75,0.25,4,2,2,2,0.5,0.5,No
3641,Female,No,Yes,15,11,11,0,11,1,0,...,3,0.6,0.4,4,2,2,2,0.5,0.5,No
3642,Female,No,Yes,15,10,10,0,10,1,0,...,3,0.75,0.25,4,3,1,3,0.75,0.25,No
3643,Female,No,Yes,15,13,13,0,13,1,0,...,4,0.67,0.33,4,3,1,3,0.75,0.25,No

In [12]:
cleanData(desktopData)

desktopData.head()

,Gender,Nativelang,Otherlang,Age,Clicks1,Hits1,Misses1,Score1,Accuracy1,Missrate1,...,Score31,Accuracy31,Missrate31,Clicks32,Hits32,Misses32,Score32,Accuracy32,Missrate32,Dyslexia
0,1,0,1,7.0,10.0,10.0,0.0,10.0,1.0,0.0,...,0.0,0.000000,0.00,17.0,2.0,0.0,2.0,0.117647,0.000000,0
1,2,1,1,13.0,12.0,12.0,0.0,12.0,1.0,0.0,...,4.0,0.114286,0.00,26.0,2.0,2.0,2.0,0.076923,0.076923,1
2,2,0,1,7.0,6.0,6.0,0.0,6.0,1.0,0.0,...,4.0,0.114286,0.00,26.0,1.0,3.0,1.0,0.038462,0.115385,0
3,2,0,1,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.00,1.0,0.0,0.0,0.0,0.000000,0.000000,0
4,2,0,1,8.0,4.0,4.0,0.0,4.0,1.0,0.0,...,1.0,25.000000,0.05,26.0,2.0,2.0,2.0,0.076923,0.076923,0

In [13]:
columns = SeparateColumns('H:\Dyt-tablet.csv')
tabletData=pd.DataFrame.from_dict(columns)
tabletData.replace(["NULL"], np.nan, inplace = True)

tabletData

,Gender,Nativelang,Otherlang,Age,Clicks1,Hits1,Misses1,Score1,Accuracy1,Missrate1,...,Score31,Accuracy31,Missrate31,Clicks32,Hits32,Misses32,Score32,Accuracy32,Missrate32,Dyslexia
0,Male,Yes,No,7,6,6,0,6,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
1,Female,Yes,No,7,7,7,0,7,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
2,Female,Yes,No,7,6,6,0,6,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
3,Male,Yes,No,7,5,5,0,5,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
4,Male,Yes,No,7,8,6,2,8,0.75,0.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1390,Male,Yes,No,17,13,13,0,13,1,0,...,35,0.11428571428571,0,26,4,0,26,0.15384615384615,0,No
1391,Female,Yes,Yes,17,9,9,0,9,1,0,...,35,0.11428571428571,0,26,4,0,26,0.15384615384615,0,No
1392,Male,Yes,Yes,17,10,10,0,10,1,0,...,35,0.11428571428571,0,27,3,2,27,0.11111111111111,0.074074074074074,No
1393,Female,Yes,Yes,17,11,11,0,11,1,0,...,35,0.11428571428571,0,26,4,0,26,0.15384615384615,0,No
1394,Female,Yes,No,17,9,9,0,9,1,0,...,35,0.11428571428571,0,33,4,2,33,0.12121212121212,0.060606060606061,Yes

In [14]:
cleanData(tabletData)

tabletData.head()

,Gender,Nativelang,Otherlang,Age,Clicks1,Hits1,Misses1,Score1,Accuracy1,Missrate1,...,Score31,Accuracy31,Missrate31,Clicks32,Hits32,Misses32,Score32,Accuracy32,Missrate32,Dyslexia
0,1,1,0,7.0,6.0,6.0,0.0,6.0,1.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2,1,0,7.0,7.0,7.0,0.0,7.0,1.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2,1,0,7.0,6.0,6.0,0.0,6.0,1.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1,1,0,7.0,5.0,5.0,0.0,5.0,1.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,1,1,0,7.0,8.0,6.0,2.0,8.0,0.75,0.25,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [15]:
stateOfNUll= tabletData.isnull().any()
i = 0
for state in stateOfNUll : 
    if(state):  
        tabletData[stateOfNUll.index[i]].fillna(round(tabletData[stateOfNUll.index[i]].mean() , 4), inplace=True)
    i = i + 1    

tabletData

,Gender,Nativelang,Otherlang,Age,Clicks1,Hits1,Misses1,Score1,Accuracy1,Missrate1,...,Score31,Accuracy31,Missrate31,Clicks32,Hits32,Misses32,Score32,Accuracy32,Missrate32,Dyslexia
0,1,1,0,7.0,6.0,6.0,0.0,6.0,1.00,0.00,...,46.8333,0.386300,0.5439,52.51,2.7851,7.9719,52.51,0.970900,2.225400,0
1,2,1,0,7.0,7.0,7.0,0.0,7.0,1.00,0.00,...,46.8333,0.386300,0.5439,52.51,2.7851,7.9719,52.51,0.970900,2.225400,0
2,2,1,0,7.0,6.0,6.0,0.0,6.0,1.00,0.00,...,46.8333,0.386300,0.5439,52.51,2.7851,7.9719,52.51,0.970900,2.225400,0
3,1,1,0,7.0,5.0,5.0,0.0,5.0,1.00,0.00,...,46.8333,0.386300,0.5439,52.51,2.7851,7.9719,52.51,0.970900,2.225400,0
4,1,1,0,7.0,8.0,6.0,2.0,8.0,0.75,0.25,...,46.8333,0.386300,0.5439,52.51,2.7851,7.9719,52.51,0.970900,2.225400,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1390,1,1,0,17.0,13.0,13.0,0.0,13.0,1.00,0.00,...,35.0000,0.114286,0.0000,26.00,4.0000,0.0000,26.00,0.153846,0.000000,0
1391,2,1,1,17.0,9.0,9.0,0.0,9.0,1.00,0.00,...,35.0000,0.114286,0.0000,26.00,4.0000,0.0000,26.00,0.153846,0.000000,0
1392,1,1,1,17.0,10.0,10.0,0.0,10.0,1.00,0.00,...,35.0000,0.114286,0.0000,27.00,3.0000,2.0000,27.00,0.111111,0.074074,0
1393,2,1,1,17.0,11.0,11.0,0.0,11.0,1.00,0.00,...,35.0000,0.114286,0.0000,26.00,4.0000,0.0000,26.00,0.153846,0.000000,0
1394,2,1,0,17.0,9.0,9.0,0.0,9.0,1.00,0.00,...,35.0000,0.114286,0.0000,33.00,4.0000,2.0000,33.00,0.121212,0.060606,1

In [16]:
cols_with_missing = [col for col in tabletData.columns if tabletData[col].isnull().any()]

# Drop columns desktop data
reduced_desktopData = desktopData.drop(cols_with_missing, axis=1)

# Drop columns tablet data
reduced_tabletData = tabletData.drop(cols_with_missing, axis=1)

In [17]:
commonalityColumns = ['Gender','Nativelang','Otherlang','Age' , 'Dyslexia']
for i in  range(30):
    if((i>=0 and i<12) or (i>=13 and i<17) or i==21 or i==22 or i==29):
        commonalityColumns.append('Clicks'+str(i+1))
        commonalityColumns.append('Hits'+str(i+1))
        commonalityColumns.append('Misses'+str(i+1))
        commonalityColumns.append('Score'+str(i+1))
        commonalityColumns.append('Accuracy'+str(i+1))
        commonalityColumns.append('Missrate'+str(i+1))
    
reduced_desktopData=reduced_desktopData.loc[:,commonalityColumns]
reduced_tabletData=reduced_tabletData.loc[:,commonalityColumns]

In [18]:
y=reduced_desktopData['Dyslexia']
X=reduced_desktopData.loc[:, reduced_desktopData.columns != 'Dyslexia']

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [20]:
rfc = RandomForestClassifier()
rfc.fit(X_train , y_train)
y_pred = rfc.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8919368246051538

In [21]:
yTest=reduced_tabletData['Dyslexia']
XTest=reduced_tabletData.loc[:, reduced_tabletData.columns != 'Dyslexia']

In [22]:
rfc2 = RandomForestClassifier()
rfc2.fit(X_train , y_train)
y_pred = rfc2.predict(XTest)
print("Accuracy:",metrics.accuracy_score(yTest, y_pred))

Accuracy: 0.8931899641577061

In [24]:
tabletData

,Gender,Nativelang,Otherlang,Age,Clicks1,Hits1,Misses1,Score1,Accuracy1,Missrate1,...,Score31,Accuracy31,Missrate31,Clicks32,Hits32,Misses32,Score32,Accuracy32,Missrate32,Dyslexia
0,1,1,0,7.0,6.0,6.0,0.0,6.0,1.00,0.00,...,46.8333,0.386300,0.5439,52.51,2.7851,7.9719,52.51,0.970900,2.225400,0
1,2,1,0,7.0,7.0,7.0,0.0,7.0,1.00,0.00,...,46.8333,0.386300,0.5439,52.51,2.7851,7.9719,52.51,0.970900,2.225400,0
2,2,1,0,7.0,6.0,6.0,0.0,6.0,1.00,0.00,...,46.8333,0.386300,0.5439,52.51,2.7851,7.9719,52.51,0.970900,2.225400,0
3,1,1,0,7.0,5.0,5.0,0.0,5.0,1.00,0.00,...,46.8333,0.386300,0.5439,52.51,2.7851,7.9719,52.51,0.970900,2.225400,0
4,1,1,0,7.0,8.0,6.0,2.0,8.0,0.75,0.25,...,46.8333,0.386300,0.5439,52.51,2.7851,7.9719,52.51,0.970900,2.225400,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1390,1,1,0,17.0,13.0,13.0,0.0,13.0,1.00,0.00,...,35.0000,0.114286,0.0000,26.00,4.0000,0.0000,26.00,0.153846,0.000000,0
1391,2,1,1,17.0,9.0,9.0,0.0,9.0,1.00,0.00,...,35.0000,0.114286,0.0000,26.00,4.0000,0.0000,26.00,0.153846,0.000000,0
1392,1,1,1,17.0,10.0,10.0,0.0,10.0,1.00,0.00,...,35.0000,0.114286,0.0000,27.00,3.0000,2.0000,27.00,0.111111,0.074074,0
1393,2,1,1,17.0,11.0,11.0,0.0,11.0,1.00,0.00,...,35.0000,0.114286,0.0000,26.00,4.0000,0.0000,26.00,0.153846,0.000000,0
1394,2,1,0,17.0,9.0,9.0,0.0,9.0,1.00,0.00,...,35.0000,0.114286,0.0000,33.00,4.0000,2.0000,33.00,0.121212,0.060606,1

In [42]:




names_of_people = ["abhimanyu","abhinandan","abhinash","abhinav","abhinay","abhinwav","abhiraj","abhisek","abhisekh","abhishak","abhishek","abhishekh","abhishiek","abhishik","abid","abida","abishak","abishek","abrar","abu","abul","achin","adalat","adan","adarsh","adersen","adesh","adhish","adi","adiba","adil","adisan","aditi","aditiya","aditya","adityalok","adnan","adrash","aejaz","aesha","afarin","affan","afjal","afridi","afrin","afrina","afroz","afsana","afsar","afsari","afsha","afshana","afshar","aftab","afzaj","afzal","agrej","agyapad","ahamad","ahmad","ahmed","ahsamin","ahsan","ahupendra","aidtya","aijay","aisha","aishe","aishwarya","ajab","ajad","ajahar","ajaj","ajara","ajay","ajaypal","ajeem","ajeet","ajim","ajima","ajit","ajju","ajkati","ajmal","ajman","ajmer","ajmeri","ajmit","ajnabi","ajnoor","ajra","akaash","akthari","aktri","al0k","alahbasri","alam","alapna","alaudin","albaksha","albina","aleesha","alema","alhamdi","ali","alijan","alim","alima","alina","alis","alish","alisha","alita","aliya","alka","alkesh","allabaksh","allaraji","allauddin","alma","almina","alok","alseepa","altab","altaf","altmash","aluddin","aman","amana","amandeep","amanjeet","amar","amarapal","amarchand","amardeep","amarendra","amarin","amarjeet","amarjit","amarmula","amarnath","amart","amarvesh","amasi","amba","amber","ambika","ambiya","ameen","ameer","ameera","amena","amida","amie","amijan","amil","amin","amina","amir","amiraka","amiri","amirul","amisha","amit","amita","amjad","amjat","amkit","amlesh","ammar","amna","amol","amot","amrat","amratalal","amreek","amreen","amreeta","amri","amrik","amrika","amrin","amrish","amrit","amrita","amritha","amritpal","amrjeet","amrooti","amrta","amrudin","amuchla","amuda","amzad","anadi","anaji","anam","anamika","anamol","anjeev","anjila","anjli","anjna","anjrej","anju","anjum","anjuman","ankaj","ankala","ankeet","ankesh","ankit","ankita","ankur","ankus","ankush","anli","anmol","annat","annavi","annielal","anno","annu","anoj","anokha","anooj","anoop","anoopama","anoura","ansal","ansar","ansh","anshika","anshiya","anshu","anshul","anshum","anshuman","ansu","ansul","anta","antim","antima","anu","anubhav","anuj","anuja","anup","anupam","anupama","anupuma","anuradha","anurag","anuraj","anurudh","anushka","anuska","anusoya","anuu","anwar","anwari","any","anzum","aoosaf","aparna","aphasana","aphsana","apsana","arab","araddhna","aradhana","arajun","araslan","arati","aravind","arbaj","arbana","arbaz","archan","archana","archita","archna","areen","arham","arhiyant","ariba","arif","arifa","arindom","arindra","arjina","arjun","armaan","arman","armita","arnab","arnabjit","arpit","arpna","arsad","arsh","arshad","arshi","arshla","arsi","arthi","arti","aru","arun","aruna","aruni","arunkumar","arvind","arvinder","aryan","arzoo","asagar","asana","asanti","asarfi","asfak","ashutosh","ashwani","ashwini","asi","asif","asish","asiwani","asiya","avinsh","avneet","avnish","avnit","avtar","awdesh","awdhesh","awedhesh","awshin","axat","ayan","ayasha","aysha","ayub","ayube","ayush","ayushi","azad","azam","azaruddin","azaz","azhar","azim","azmira","azruddin","baam","babali","babalu","baban","babar","babbi","babbu","babby","babita","babli","babloo","bablu","babram","babu","babudden","babuddin","babul","babulal","babupuri","baburam","baby","baccha","bacche","bacchu","bachan","bachcha","bachheshwar","bachhu","bachu","bada","badal","badami","badan","badarjahan","badnath","badrealam","badri","badru","badrudeen","badrulla","badrunisha","badshya","baga","bagaram","bagdai","bagga","baggusingh","bagwan","bahadur","bahalen","bahart","bahnu","bahrat","bahwana","baichan","baidnath","baijnath","baita","bajinder","bajrang","bajrangi","bajulal","bake","bakhtvaar","bakila","baksi","bal","bala","balak","balalia","balam","balaram","balbeer","balbir","balbiri","balchand","baldev","baleshwar","baleshwer","bali","baliram","baliya","baljeet","baljinder","balkishan","ballu","balmiki","balraj","balram","balveer","balvinder","balwan","balwant","banarsi","bandana","bandani","bandu","bangali","banita","baniya","banju","bannu","banshi","bansi","bansilal","banti","bantu","banty","banu","banwari","banwarilal","bapu","barakha","barham","barj","barjesh","barjraj","barkat","barkha","barti","basant","basanta","basanti","bashanti","bashudev","basibul","basiran","basnti","batasi","batloon","bato","batu","batul","baudi","bavita","bawan","beauty","dauji","daulat","daveena","davender","davendra","davinder","daya","dayal","dayaram","dayawati","deba","deeksha","deelip","deen","deendyal","deep","deepa","deepaak","deepak","deepali","deepan","deepanker","deepanshi","deepanshu","deepansu","deepanti","deepchand","deepender","deepi","deepika","deepka","deepmala","deepnarayan","deepshikha","deepti","deepu","deepvhand","deeraj","deerendra","deewan","deeya","denesh","deni","deou","depali","depander","desh","deshraj","dev","deva","devanand","devanti","devasheeh","devashish","devasish","devdhari","devender","devendr","devendra","devendri","devesh","devi","devid","devideen","devik","devika","devilal","devinder","devkali","devki","devkran","devli","devpal","devraj","devya","devyani","deyji","dhakhadevi","dhalchand","dhamender","dhamini","dhan","dhana","dhananjai","dhananjay","dhaneswar","dhaney","dhani","dhaniya","dhanjay","dhanna","dhanni","dhannu","dhanpat","dhanpati","dhanraj","dhansinghpuri","dhanu","dhanwanti","dhanwati","dhapu","dhara","dharam","dharambir","dharamender","dharampal","dharamveer","dharamvir","dharm","dharma","dharmandra","dharmbir","dharmender","dharmendera","dharmendr","dharmendra","dharminder","dharmpal","dharmraj","dharmshila","dharmveer","dharmvir","dharvesh","dhawal","dheeraj","dheerendra","dhermendra","dhiraj","dhirender","dhirpal","dhiru","dhisa","dhmendar","dhodi","dhola","dholi","dhram","dhrama","dhrambir","dhramender","dhrampal","dhrampla","dhramveer","dhreej","dhrmveer","dhruv","dhukhu","dhulin","dhurav","dhurender","dhurpati","dhuruv","dhurv","dhurve","dibakar","dibya","digamber","digvijay","diksha","dikshant","dil","dila","dilawar","dilbar","dildar","dilip","dilish","diljan","dilkhush","dilkush","dilsad","dilsah","dilshad","dilshadi","dilshana","dilvar","dimpal","dimple","dimpu","dimpy","dineesh","dinesh","dinkar","dipa","dipak","dipali","dipanshi","dipanshu","dipansu","dipeeka","dipendra","dipika","dipti","dipu","dirgaj","disha","dishad","dishant","dishu","disi","diti","divaie","divakar","divansh","divaraj","divy","divya","divyansh","diwakar","diwan","diwansi","dixya","diya","dolat","doli","dolley","dolly","dolo","doly","doodhnath","dord","dorilal","doulat","dowlat","dropati","dropti","druga","dukhi","dulal","","mem","mema","mena","menadevi","menakshi","menka","menpal","menu","mercy","mero","merry","mesak","methun","meti","metily","meva","mhega","mhendar","mho","mhoomad","mhosin","michael","midda","midhana","miha","mihir","mikel","milan","milap","mili","milka","milkhi","mina","minakchi","minakshi","minaksi","minakumari","minakxi","minaxi","minaxni","minder","mini","minitwa","minka","minkashi","mintu","minu","mira","miraz","mis","misbah","mishbha","mishri","mishrilaal","misri","miss","mitali","mithalesh","mithelash","mithi","mithilesh","mithlesh","mithu","mithun","mitlesh","mitnu","mitthu","mitthun","mittopuri","mjudi","mmta","mnisha","mnoj","mnyak","mobarkar","mobin","mobsheera","modh","mogan","mogli","moh","moh0","mohabbat","nar","narain","naraini","narander","narayan","narayani","narbada","narbahadur","narbda","narbir","narendar","narender","narendera","narendra","naresh","nareshpal","nargesh","nargis","nargish","narhasi","narinder","narmada","narmda","naroo","narpendra","narsa","narsingh","naruram","naryan","naryani","nasar","naseeba","naseef","naseem","naseema","","","neaha","neela","neelachal","neelajan","neelam","neeli","neelima","neelkant","neelu","neema","neemi","neeraj","neeru","neesa","neesha","neeshu","neeta","neeti","neetu","neeven","neha","nehal","neharika","nej","nek","neki","nekki","nelam","nemsi","nena","nency","nenhe","neni","nenshi","nensi","nepal","neraj","nesha","netra","netram","netrapal","newal","nibha","nibo","nicharon","nida","nidhi","nigar","nihal","nihalchand","nijam","nijamuddin","nijamudeen","nikahat","nikhad","nikhat","nikhil","nikhleshwar","nikil","nikita","nikkhar","nikki","nikky","niksiya","nila","nilam","nilesh","nilofar","nilu","nimahe","nimesh","nimla","nimmy","nini","nipam","nipun","niraj","niranjan","nirbhay","nirja","nirjala","nirjla","nirma","nirmal","nirmala","nirmaljeet","nirmla","nirosha","niru","nirutma","nirvat","nirwat","nisa","nisar","nisat","nischaya","nisha","nishal","nishant","nishar","nishith","nishtha","nishu","nitam","nitasha","nitesh","nithyanandham","niti","nitika","nitin","nitish","nittin","nitu","niwas","niyaaz","nizam","nizamuddin","njare","noni","noojo","noomi","noor","noora","nooralam","nooralha","noore","nooreen","noori","noorin","noorjaha","noorjahan","noorjama","noorjhan","noornabi","noorpa","nooruddin","nootan","noreen","norti","nosad","nosar","noshad","nosi","not","novisha","nrendr","nrotam","nshima","ntasha","numesh","nupur","nur","nuraish","nurbi","nurjaha","nursa","nusrant","nusrat","nutan","nwed","ojas","oli","oma","ombeer","ombir","omender","omendra","omesh","omeshkumar","omi","omjone","omkar","ompal","omparkash","omparkesh","omparsad","poga","pokhar","poma","poneem","pooga","pooja","pooja/varsha","poojadevi","pool","poonam","pooran","pooranmal","poornima","popinder","poshetty","pphola","prabhakar","prabhash","prabhat","prabhatilal","prabhatyashi","prabhila","prabhjeet","prabhjit","prabhjot","prabhu","prabhudayal","prableen","prachi","pradeep","pradep","prafhool","praful","pragati","pragti","prahlad","prakash","prakesh","prakul","pram","pramal","pramatma","prameela","prameshwar","prami","pramil","pramila","pramjeet","pramjot","pramod","pramood","prankur","prannab","pransis","prasant","prasanta","prashanat","prashansa","prashant","pratap","prateek","pratha","prati","pratibha","pratiksha","pratima","pratul","praveen","praveena","pravendra","pravesh","pravin","pravindra","prayatan","prdeep","pree","preena","preet","preetam","preeti","preety","prem","prema","premature","premawati","premchand","premi","premjit","premla","premlata","premnarayan","premo","prempal","premsingh","premwati","prete","preti","preyank","preyojit","prezi","prhalad","priju","prince","prinka","prinkaya","prinkya","prinsh","pritam","pritee","prithvi","priti","pritibha","pritika","prittam","prity","priya","priyak","priyaka","priyaki","priyanka","priyanshu","priyansi","priyansu","priynka","prkesh","prmod","promila","prsant","prshant","prya","ramkesh","tauseek","taushif","tausin","tavinder","tavraj","tavvasum","tayab","tazaudeen","teekam","teena","teenu","teerath","tehmina","tej","teja","tejender","tejpal","tejvir","tek","tekchand","tepu","terence","thakur","tharu","thomas","tikaram","tikku","tilak","tilakraj","tilakram","tilk","tina","tinki","tinku","tinvkal","toshar","tosheeb","tosif","trannum","tranoom","traun","trepti","tribavan","trijugi","trilochan","trilock","trilok","tripta","tripti","tripurari","triveni","trlokchand","tuba","tufail","tufel","tuka","tulcharam","tulki","tulsa","tulsha","tulshi","tulsi","tulsiram","tumpa","tunda","tundiram","tunni","turveny","tushal","tushar","twenkle","twinkal","twinkil","twinkle","tyara","uda","udai","udaiveer","udaiy","umanath","umang","umar","umardaraz","umardeen","umasankar","umashankar","umashanker","umda","umedi","umesh","umesha","umlesh","umma","umme","umrawti","unkar","unknown","unnati","upasana","upasna","upender","upendra","urendra","urmila","urvarshi","urvashi","urwashi","usha","usmaan","usman","utam","utkarsh","utpana","uttam","uzma","vadhi","vahab","vaibahv","vaibav","vaibhav","vaid","vaijanti","vaishali","vaishanvi","vajid","vakeel","vakesh","vakil","vakila","valentina","vandana","vandhana","vandhna","vandita","vandna","vanish","vansh","vanshika","vanshu","vansu","varda","varisha","varsa","varsh","varsha","varun","vasa","vaseem","vashanavi","vashila","vashisast","vashu","vashudev","vasida","vasim","vasiya","vasu","vasuki","vazid","ved","vedanand","vedehi","vedh","vedprakash","veejita","veena","veenita","veenu","veepal","veepinchand","veer","veera","veerander","veerbhan","veerendra","veeri","veermati","veero","veerpal","veeru","velaram","venkatswaran","verendra","veronika","versa","versha","vesali","veshali","vibha","vibhash","vibhuti","vicakha","viccky","vichitra","vickey","vickky","vicky","victor","vidha","vidhavati","vidhi","vidhya","vidisha","vidit","vidya","vidyadatt","vidyawati","vihsal","vijay","vijaya","vimala","vimla","vimlesh","vimukt","vinay","vinayak","vinaysingh","vindeshver","vineeta","vineta","viney","vinit","vinita","vinna","vinod","vinoda","vinos","vipan","vipasha","vipendra","vipin","vipiv","viplo","vipol","vipta","vipul","vipulander","vipun","viraj","viram","virat","viren","virender","virendra","viresh","viriya","virjiniya"]

tabletData.insert(0,'Names',names_of_people)

print(tabletData)

In [62]:
names_dyslexia =  tabletData['Names', 'Dyslexia'].copy()
print(names_dyslexia)

           Names  Dyslexia
0      abhimanyu         0
1     abhinandan         0
2       abhinash         0
3        abhinav         0
4        abhinay         0
...          ...       ...
1390    virender         0
1391    virendra         0
1392      viresh         0
1393      viriya         0
1394   virjiniya         1

[1395 rows x 2 columns]

In [66]:
# dyslexia= tabletData['Dyslexia']
# for rows in names_dyslexia:
#     print(rows,type(rows))
    
    
#print(df[df["Total Profit"]>1000000][["Region","Country", "Item Type", "Total Profit"]])
people_with_dyslexia = tabletData[tabletData['Dyslexia']==1]['Names']
print(people_with_dyslexia)

121          alok
122       alseepa
123         altab
124         altaf
125       altmash
          ...
1274       vakesh
1275        vakil
1276       vakila
1356        vijay
1394    virjiniya
Name: Names, Length: 148, dtype: object